@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This work was done by a student of the Teach Me Skills courses. The purpose of this work is to show the skills of working with ASP MVC</p>
