@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   <p style="font-size:20px; color:khaki"> Teach Me Skiils Team</p><br />
    Minsk, Timiryazeva<br />
    <abbr title="Phone">Phone:</abbr>
    <p style="color:red">+375(44)462-97-47</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:VadimBezhkov3112@gmail.com">VadimBezhkov3112@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:VadimBezhkov3112@gmail.com"> VadimBezhkov3112@gmail.com</a>
</address>